{% extends 'base.html' %}

{% block title %}Index Page{% endblock %}

{% block content %}

<ul>
    <li><a href="{% url 'product:add-brand' %}">Add Brand</a></li>
    <li><a href="{% url 'product:add-product' %}">Add Product</a></li>
    <hr>
    <h5>Reports:</h5>
    <li><a href="{% url 'product:report-brand' %}">Brand list: (report-1)</a></li>
    <li><a href="{% url 'product:report-product' %}">Product List: (report-2)</a></li>
    <li><a href="{% url 'product:report-nation-made-in-equal' %}">Product List: (report-3)</a></li>
</ul>


{% endblock %}
